{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About - Drug Verification</title>
  <link rel="stylesheet" href="{%static 'styles.css'%}">
</head>

<body>
  <header>
    <h1>About Us</h1>
    <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </nav>
  </header>

  <div class="container">
    <h2>About Counterfeit Drug Verification</h2>
    <p>This project is designed to help people verify whether a medicine is genuine or fake using a unique serial number and QR code.</p>
    <p>We aim to protect consumers from counterfeit medicines and ensure safety by providing a simple online verification system.</p>
  </div>
</body>
</html>
