{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Drug Verification</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <h1>Counterfeit Drug Verification</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </nav>
    </header>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            <label for="serial">Enter Serial Number:</label>
            <input type="text" id="serial" name="serial_number" required>
            <button type="submit">Verify</button>
        </form>

        {% if result %}
            <div class="result">
                <h4>Result:</h4>
                <p>{{ result }}</p>
            </div>
        {% endif %}
    </div>
</body>
 <footer>
    &copy; 2025 My Project. All rights reserved to Shivanshu saini.
  </footer>
</html>
